.app {
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
  }
  .left {
    width: 50vw;
    background-color: rgb(239, 241, 245);
  }
  .preview {
    width: 50vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(232, 234, 241);
  }
  .textarea {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    border: none;
    height: 100vh;
    outline: none;
  }
  